--
-- PostgreSQL database dump
--

\restrict PRlATHId2NjblAQNOgeVItRXy4P4d5dVqP4a9vsBVPT2EAwoOWV49sjazhA3Jou

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: savia_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO savia_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: savia_user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_audit_log; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.ai_audit_log (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    model_version text NOT NULL,
    prompt_hash text DEFAULT ''::text,
    confidence_score integer DEFAULT 0,
    outcome text DEFAULT ''::text
);


ALTER TABLE public.ai_audit_log OWNER TO savia_user;

--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.ai_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_audit_log_id_seq OWNER TO savia_user;

--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.ai_audit_log_id_seq OWNED BY public.ai_audit_log.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    username text DEFAULT 'system'::text,
    action text NOT NULL,
    details text DEFAULT ''::text,
    page text DEFAULT ''::text,
    ip_address text DEFAULT ''::text
);


ALTER TABLE public.audit_log OWNER TO savia_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO savia_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    nom text NOT NULL,
    matricule_fiscale text DEFAULT ''::text,
    ville text DEFAULT ''::text,
    contact text DEFAULT ''::text,
    telephone text DEFAULT ''::text,
    adresse text DEFAULT ''::text,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    code_client text DEFAULT ''::text,
    region text DEFAULT ''::text,
    type_client text DEFAULT ''::text,
    international boolean DEFAULT false
);


ALTER TABLE public.clients OWNER TO savia_user;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO savia_user;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: codes_erreurs; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.codes_erreurs (
    id integer NOT NULL,
    code text NOT NULL,
    message text DEFAULT ''::text,
    niveau text DEFAULT 'ATTENTION'::text,
    type text DEFAULT 'Hardware'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.codes_erreurs OWNER TO savia_user;

--
-- Name: codes_erreurs_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.codes_erreurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.codes_erreurs_id_seq OWNER TO savia_user;

--
-- Name: codes_erreurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.codes_erreurs_id_seq OWNED BY public.codes_erreurs.id;


--
-- Name: config_client; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.config_client (
    cle text NOT NULL,
    valeur text DEFAULT ''::text
);


ALTER TABLE public.config_client OWNER TO savia_user;

--
-- Name: conformite; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.conformite (
    id integer NOT NULL,
    equipement text NOT NULL,
    client text DEFAULT ''::text,
    type_controle text NOT NULL,
    description text DEFAULT ''::text,
    date_controle date NOT NULL,
    date_expiration date NOT NULL,
    fichier_nom text DEFAULT ''::text,
    fichier_data bytea,
    statut text DEFAULT 'Conforme'::text,
    notes text DEFAULT ''::text,
    created_by text DEFAULT ''::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conformite OWNER TO savia_user;

--
-- Name: conformite_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.conformite_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conformite_id_seq OWNER TO savia_user;

--
-- Name: conformite_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.conformite_id_seq OWNED BY public.conformite.id;


--
-- Name: contrats; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.contrats (
    id integer NOT NULL,
    client text NOT NULL,
    type_contrat text DEFAULT 'Standard'::text,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    sla_temps_reponse_h integer DEFAULT 24,
    interventions_incluses integer DEFAULT '-1'::integer,
    montant real DEFAULT 0.0,
    conditions text DEFAULT ''::text,
    statut text DEFAULT 'Actif'::text,
    notes text DEFAULT ''::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    equipement text DEFAULT ''::text,
    fichier_contrat text DEFAULT ''::text,
    recurrence_maintenance text DEFAULT ''::text,
    date_premiere_maintenance text DEFAULT ''::text,
    pieces_incluses text DEFAULT ''::text,
    avec_pieces integer DEFAULT 0
);


ALTER TABLE public.contrats OWNER TO savia_user;

--
-- Name: contrats_equipements; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.contrats_equipements (
    id integer NOT NULL,
    contrat_id integer NOT NULL,
    equipement_nom text NOT NULL
);


ALTER TABLE public.contrats_equipements OWNER TO savia_user;

--
-- Name: contrats_equipements_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.contrats_equipements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contrats_equipements_id_seq OWNER TO savia_user;

--
-- Name: contrats_equipements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.contrats_equipements_id_seq OWNED BY public.contrats_equipements.id;


--
-- Name: contrats_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.contrats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contrats_id_seq OWNER TO savia_user;

--
-- Name: contrats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.contrats_id_seq OWNED BY public.contrats.id;


--
-- Name: demandes_intervention; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.demandes_intervention (
    id integer NOT NULL,
    date_demande timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    demandeur text DEFAULT ''::text,
    client text DEFAULT ''::text,
    equipement text DEFAULT ''::text,
    urgence text DEFAULT 'Moyenne'::text,
    description text DEFAULT ''::text,
    code_erreur text DEFAULT ''::text,
    contact_nom text DEFAULT ''::text,
    contact_tel text DEFAULT ''::text,
    statut text DEFAULT 'Nouvelle'::text,
    technicien_assigne text DEFAULT ''::text,
    notes_traitement text DEFAULT ''::text,
    date_traitement timestamp without time zone,
    intervention_id integer,
    date_planifiee date
);


ALTER TABLE public.demandes_intervention OWNER TO savia_user;

--
-- Name: demandes_intervention_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.demandes_intervention_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.demandes_intervention_id_seq OWNER TO savia_user;

--
-- Name: demandes_intervention_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.demandes_intervention_id_seq OWNED BY public.demandes_intervention.id;


--
-- Name: documents_techniques; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.documents_techniques (
    id integer NOT NULL,
    equipement_id integer NOT NULL,
    nom_fichier text NOT NULL,
    contenu_base64 text NOT NULL,
    date_ajout timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.documents_techniques OWNER TO savia_user;

--
-- Name: documents_techniques_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.documents_techniques_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documents_techniques_id_seq OWNER TO savia_user;

--
-- Name: documents_techniques_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.documents_techniques_id_seq OWNED BY public.documents_techniques.id;


--
-- Name: domaines_custom; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.domaines_custom (
    id integer NOT NULL,
    nom text NOT NULL,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.domaines_custom OWNER TO savia_user;

--
-- Name: domaines_custom_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.domaines_custom_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.domaines_custom_id_seq OWNER TO savia_user;

--
-- Name: domaines_custom_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.domaines_custom_id_seq OWNED BY public.domaines_custom.id;


--
-- Name: equipements; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.equipements (
    id integer NOT NULL,
    nom text NOT NULL,
    type text DEFAULT ''::text,
    fabricant text DEFAULT ''::text,
    modele text DEFAULT ''::text,
    num_serie text DEFAULT ''::text,
    date_installation text DEFAULT ''::text,
    derniere_maintenance text DEFAULT ''::text,
    statut text DEFAULT 'Actif'::text,
    notes text DEFAULT ''::text,
    client text DEFAULT 'Centre Principal'::text,
    domaine text DEFAULT 'Radiologie'::text,
    est_annexe boolean DEFAULT false,
    garantie_debut text DEFAULT ''::text,
    garantie_duree integer DEFAULT 0,
    matricule_fiscale text DEFAULT ''::text,
    document_technique text DEFAULT ''::text,
    latitude real,
    longitude real,
    adresse text DEFAULT ''::text,
    ville text DEFAULT ''::text,
    region text DEFAULT ''::text,
    service text DEFAULT ''::text
);


ALTER TABLE public.equipements OWNER TO savia_user;

--
-- Name: equipements_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.equipements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipements_id_seq OWNER TO savia_user;

--
-- Name: equipements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.equipements_id_seq OWNED BY public.equipements.id;


--
-- Name: fabricants; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.fabricants (
    id integer NOT NULL,
    nom text NOT NULL
);


ALTER TABLE public.fabricants OWNER TO savia_user;

--
-- Name: fabricants_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.fabricants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fabricants_id_seq OWNER TO savia_user;

--
-- Name: fabricants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.fabricants_id_seq OWNED BY public.fabricants.id;


--
-- Name: interventions; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.interventions (
    id integer NOT NULL,
    date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    machine text NOT NULL,
    technicien text DEFAULT ''::text,
    type_intervention text DEFAULT 'Corrective'::text,
    description text DEFAULT ''::text,
    probleme text DEFAULT ''::text,
    cause text DEFAULT ''::text,
    solution text DEFAULT ''::text,
    pieces_utilisees text DEFAULT ''::text,
    cout real DEFAULT 0.0,
    cout_pieces real DEFAULT 0.0,
    duree_minutes integer DEFAULT 0,
    code_erreur text DEFAULT ''::text,
    statut text DEFAULT 'Termin├®e'::text,
    notes text DEFAULT ''::text,
    date_debut_intervention timestamp without time zone,
    date_cloture timestamp without time zone,
    type_erreur text DEFAULT ''::text,
    priorite text DEFAULT ''::text,
    duree_deplacement integer DEFAULT 0,
    fiche_photo_nom text DEFAULT ''::text,
    fiche_photo_data bytea,
    fiche_validation text DEFAULT 'En attente'::text,
    planning_id integer,
    facture_envoyee boolean DEFAULT false,
    rappel_facture_envoye integer DEFAULT 0,
    is_ghost boolean DEFAULT false,
    is_temporary integer DEFAULT 0,
    parent_intervention_id integer,
    start_time time without time zone,
    end_time time without time zone
);


ALTER TABLE public.interventions OWNER TO savia_user;

--
-- Name: interventions_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.interventions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interventions_id_seq OWNER TO savia_user;

--
-- Name: interventions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.interventions_id_seq OWNED BY public.interventions.id;


--
-- Name: interventions_techniciens; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.interventions_techniciens (
    id integer NOT NULL,
    intervention_id integer NOT NULL,
    technicien_id integer,
    technicien_nom text NOT NULL,
    statut text DEFAULT 'Assign├®'::text,
    probleme_tech text DEFAULT ''::text,
    cause_tech text DEFAULT ''::text,
    solution_tech text DEFAULT ''::text,
    heure_debut_tech time without time zone,
    heure_fin_tech time without time zone,
    duree_minutes_tech integer DEFAULT 0,
    duree_deplacement_tech integer DEFAULT 0,
    notes_tech text DEFAULT ''::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT interventions_techniciens_statut_check CHECK ((statut = ANY (ARRAY['Assign├®'::text, 'En cours'::text, 'Cloturee'::text, 'Refus├®'::text])))
);


ALTER TABLE public.interventions_techniciens OWNER TO savia_user;

--
-- Name: interventions_techniciens_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.interventions_techniciens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interventions_techniciens_id_seq OWNER TO savia_user;

--
-- Name: interventions_techniciens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.interventions_techniciens_id_seq OWNED BY public.interventions_techniciens.id;


--
-- Name: logs_uploaded; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.logs_uploaded (
    id integer NOT NULL,
    equipement text NOT NULL,
    filename text NOT NULL,
    s3_key text DEFAULT ''::text,
    content_hash text DEFAULT ''::text,
    size_bytes integer DEFAULT 0,
    nb_errors integer DEFAULT 0,
    nb_critiques integer DEFAULT 0,
    uploaded_by text DEFAULT 'system'::text,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    parsed_errors text
);


ALTER TABLE public.logs_uploaded OWNER TO savia_user;

--
-- Name: logs_uploaded_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.logs_uploaded_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.logs_uploaded_id_seq OWNER TO savia_user;

--
-- Name: logs_uploaded_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.logs_uploaded_id_seq OWNED BY public.logs_uploaded.id;


--
-- Name: notification_schedules; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.notification_schedules (
    id integer NOT NULL,
    bot_key text NOT NULL,
    enabled integer DEFAULT 1,
    hour integer DEFAULT 8,
    minute integer DEFAULT 30,
    days_of_week text DEFAULT '1,2,3,4,5,6,7'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notification_schedules OWNER TO savia_user;

--
-- Name: notification_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.notification_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notification_schedules_id_seq OWNER TO savia_user;

--
-- Name: notification_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.notification_schedules_id_seq OWNED BY public.notification_schedules.id;


--
-- Name: notifications_pieces; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.notifications_pieces (
    id integer NOT NULL,
    type text NOT NULL,
    intervention_id integer,
    piece_reference text,
    piece_nom text,
    intervention_ref text,
    equipement text,
    client text,
    technicien text,
    message text,
    source text DEFAULT ''::text NOT NULL,
    destination text NOT NULL,
    statut text DEFAULT 'non_lu'::text,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_lecture timestamp without time zone,
    date_traitement timestamp without time zone
);


ALTER TABLE public.notifications_pieces OWNER TO savia_user;

--
-- Name: notifications_pieces_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.notifications_pieces_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_pieces_id_seq OWNER TO savia_user;

--
-- Name: notifications_pieces_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.notifications_pieces_id_seq OWNED BY public.notifications_pieces.id;


--
-- Name: pieces_demandees; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.pieces_demandees (
    id integer NOT NULL,
    reference text NOT NULL,
    designation text DEFAULT ''::text NOT NULL,
    intervention_id integer,
    equipement text DEFAULT ''::text,
    client text DEFAULT ''::text,
    technicien text DEFAULT ''::text,
    probleme text DEFAULT ''::text,
    statut text DEFAULT 'en_attente'::text,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_resolution timestamp without time zone
);


ALTER TABLE public.pieces_demandees OWNER TO savia_user;

--
-- Name: pieces_demandees_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.pieces_demandees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pieces_demandees_id_seq OWNER TO savia_user;

--
-- Name: pieces_demandees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.pieces_demandees_id_seq OWNED BY public.pieces_demandees.id;


--
-- Name: pieces_rechange; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.pieces_rechange (
    id integer NOT NULL,
    reference text NOT NULL,
    designation text NOT NULL,
    equipement_type text DEFAULT ''::text,
    stock_actuel integer DEFAULT 0,
    stock_minimum integer DEFAULT 1,
    fournisseur text DEFAULT ''::text,
    prix_unitaire real DEFAULT 0.0,
    derniere_commande date,
    notes text DEFAULT ''::text,
    domaine text DEFAULT 'Radiologie'::text,
    est_annexe boolean DEFAULT false
);


ALTER TABLE public.pieces_rechange OWNER TO savia_user;

--
-- Name: pieces_rechange_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.pieces_rechange_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pieces_rechange_id_seq OWNER TO savia_user;

--
-- Name: pieces_rechange_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.pieces_rechange_id_seq OWNED BY public.pieces_rechange.id;


--
-- Name: planning_maintenance; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.planning_maintenance (
    id integer NOT NULL,
    machine text NOT NULL,
    client text DEFAULT ''::text,
    type_maintenance text DEFAULT 'Pr├®ventive'::text,
    description text DEFAULT ''::text,
    date_prevue date NOT NULL,
    date_realisee date,
    technicien_assigne text DEFAULT ''::text,
    statut text DEFAULT 'Planifi├®e'::text,
    rappel_envoye integer DEFAULT 0,
    recurrence text DEFAULT ''::text,
    notes text DEFAULT ''::text,
    contrat_id integer,
    is_ghost boolean DEFAULT false,
    original_planning_id integer,
    CONSTRAINT planning_maintenance_statut_check CHECK ((statut = ANY (ARRAY['Planifi├®e'::text, 'En cours'::text, 'Termin├®e'::text, 'En retard'::text, 'D├®cal├®'::text])))
);


ALTER TABLE public.planning_maintenance OWNER TO savia_user;

--
-- Name: planning_maintenance_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.planning_maintenance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.planning_maintenance_id_seq OWNER TO savia_user;

--
-- Name: planning_maintenance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.planning_maintenance_id_seq OWNED BY public.planning_maintenance.id;


--
-- Name: prediction_feedback; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.prediction_feedback (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    machine text NOT NULL,
    date_predite text NOT NULL,
    resultat text NOT NULL,
    date_reelle text DEFAULT ''::text,
    note_technicien text DEFAULT ''::text,
    username text DEFAULT 'system'::text,
    CONSTRAINT prediction_feedback_resultat_check CHECK ((resultat = ANY (ARRAY['correct'::text, 'faux_positif'::text, 'decale'::text])))
);


ALTER TABLE public.prediction_feedback OWNER TO savia_user;

--
-- Name: prediction_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.prediction_feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prediction_feedback_id_seq OWNER TO savia_user;

--
-- Name: prediction_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.prediction_feedback_id_seq OWNED BY public.prediction_feedback.id;


--
-- Name: solutions; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.solutions (
    id integer NOT NULL,
    mot_cle text NOT NULL,
    type text DEFAULT 'Hardware'::text,
    priorite text DEFAULT 'MOYENNE'::text,
    cause text DEFAULT ''::text,
    solution text DEFAULT ''::text,
    validated_by text DEFAULT ''::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.solutions OWNER TO savia_user;

--
-- Name: solutions_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.solutions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solutions_id_seq OWNER TO savia_user;

--
-- Name: solutions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.solutions_id_seq OWNED BY public.solutions.id;


--
-- Name: technicien_pii; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.technicien_pii (
    tech_id integer NOT NULL,
    nom_complet text DEFAULT ''::text,
    email text DEFAULT ''::text,
    telephone text DEFAULT ''::text,
    telegram_id text DEFAULT ''::text
);


ALTER TABLE public.technicien_pii OWNER TO savia_user;

--
-- Name: technicien_pii_tech_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.technicien_pii_tech_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.technicien_pii_tech_id_seq OWNER TO savia_user;

--
-- Name: technicien_pii_tech_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.technicien_pii_tech_id_seq OWNED BY public.technicien_pii.tech_id;


--
-- Name: techniciens; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.techniciens (
    id integer NOT NULL,
    username text,
    nom text NOT NULL,
    prenom text NOT NULL,
    specialite text DEFAULT 'G├®n├®raliste'::text,
    qualification text DEFAULT ''::text,
    telephone text DEFAULT ''::text,
    email text DEFAULT ''::text,
    dispo integer DEFAULT 1,
    notes text DEFAULT ''::text,
    telegram_id text DEFAULT ''::text,
    niveau_competence text DEFAULT ''::text
);


ALTER TABLE public.techniciens OWNER TO savia_user;

--
-- Name: techniciens_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.techniciens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.techniciens_id_seq OWNER TO savia_user;

--
-- Name: techniciens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.techniciens_id_seq OWNED BY public.techniciens.id;


--
-- Name: telemetry; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.telemetry (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    machine text NOT NULL,
    sensor_type text NOT NULL,
    value real NOT NULL
);


ALTER TABLE public.telemetry OWNER TO savia_user;

--
-- Name: telemetry_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.telemetry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_id_seq OWNER TO savia_user;

--
-- Name: telemetry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.telemetry_id_seq OWNED BY public.telemetry.id;


--
-- Name: types_equipement_custom; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.types_equipement_custom (
    id integer NOT NULL,
    nom text NOT NULL,
    domaine text DEFAULT ''::text NOT NULL
);


ALTER TABLE public.types_equipement_custom OWNER TO savia_user;

--
-- Name: types_equipement_custom_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.types_equipement_custom_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.types_equipement_custom_id_seq OWNER TO savia_user;

--
-- Name: types_equipement_custom_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.types_equipement_custom_id_seq OWNED BY public.types_equipement_custom.id;


--
-- Name: types_intervention_custom; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.types_intervention_custom (
    id integer NOT NULL,
    nom text NOT NULL
);


ALTER TABLE public.types_intervention_custom OWNER TO savia_user;

--
-- Name: types_intervention_custom_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.types_intervention_custom_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.types_intervention_custom_id_seq OWNER TO savia_user;

--
-- Name: types_intervention_custom_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.types_intervention_custom_id_seq OWNED BY public.types_intervention_custom.id;


--
-- Name: user_pii; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.user_pii (
    user_id integer NOT NULL,
    nom_complet text DEFAULT ''::text,
    email text DEFAULT ''::text,
    telephone text DEFAULT ''::text
);


ALTER TABLE public.user_pii OWNER TO savia_user;

--
-- Name: user_pii_user_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.user_pii_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_pii_user_id_seq OWNER TO savia_user;

--
-- Name: user_pii_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.user_pii_user_id_seq OWNED BY public.user_pii.user_id;


--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: savia_user
--

CREATE TABLE public.utilisateurs (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    nom_complet text DEFAULT ''::text,
    role text DEFAULT 'Technicien'::text,
    client text DEFAULT ''::text,
    email text DEFAULT ''::text,
    actif integer DEFAULT 1,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    profil text DEFAULT ''::text,
    pages_autorisees text DEFAULT ''::text,
    CONSTRAINT utilisateurs_role_check CHECK ((role = ANY (ARRAY['Admin'::text, 'Technicien'::text, 'Lecteur'::text, 'Manager'::text, 'Responsable Technique'::text, 'Gestionnaire'::text])))
);


ALTER TABLE public.utilisateurs OWNER TO savia_user;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE; Schema: public; Owner: savia_user
--

CREATE SEQUENCE public.utilisateurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilisateurs_id_seq OWNER TO savia_user;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: savia_user
--

ALTER SEQUENCE public.utilisateurs_id_seq OWNED BY public.utilisateurs.id;


--
-- Name: ai_audit_log id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.ai_audit_log ALTER COLUMN id SET DEFAULT nextval('public.ai_audit_log_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: codes_erreurs id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.codes_erreurs ALTER COLUMN id SET DEFAULT nextval('public.codes_erreurs_id_seq'::regclass);


--
-- Name: conformite id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.conformite ALTER COLUMN id SET DEFAULT nextval('public.conformite_id_seq'::regclass);


--
-- Name: contrats id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats ALTER COLUMN id SET DEFAULT nextval('public.contrats_id_seq'::regclass);


--
-- Name: contrats_equipements id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats_equipements ALTER COLUMN id SET DEFAULT nextval('public.contrats_equipements_id_seq'::regclass);


--
-- Name: demandes_intervention id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.demandes_intervention ALTER COLUMN id SET DEFAULT nextval('public.demandes_intervention_id_seq'::regclass);


--
-- Name: documents_techniques id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.documents_techniques ALTER COLUMN id SET DEFAULT nextval('public.documents_techniques_id_seq'::regclass);


--
-- Name: domaines_custom id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.domaines_custom ALTER COLUMN id SET DEFAULT nextval('public.domaines_custom_id_seq'::regclass);


--
-- Name: equipements id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.equipements ALTER COLUMN id SET DEFAULT nextval('public.equipements_id_seq'::regclass);


--
-- Name: fabricants id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.fabricants ALTER COLUMN id SET DEFAULT nextval('public.fabricants_id_seq'::regclass);


--
-- Name: interventions id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.interventions ALTER COLUMN id SET DEFAULT nextval('public.interventions_id_seq'::regclass);


--
-- Name: interventions_techniciens id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.interventions_techniciens ALTER COLUMN id SET DEFAULT nextval('public.interventions_techniciens_id_seq'::regclass);


--
-- Name: logs_uploaded id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.logs_uploaded ALTER COLUMN id SET DEFAULT nextval('public.logs_uploaded_id_seq'::regclass);


--
-- Name: notification_schedules id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.notification_schedules ALTER COLUMN id SET DEFAULT nextval('public.notification_schedules_id_seq'::regclass);


--
-- Name: notifications_pieces id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.notifications_pieces ALTER COLUMN id SET DEFAULT nextval('public.notifications_pieces_id_seq'::regclass);


--
-- Name: pieces_demandees id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.pieces_demandees ALTER COLUMN id SET DEFAULT nextval('public.pieces_demandees_id_seq'::regclass);


--
-- Name: pieces_rechange id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.pieces_rechange ALTER COLUMN id SET DEFAULT nextval('public.pieces_rechange_id_seq'::regclass);


--
-- Name: planning_maintenance id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.planning_maintenance ALTER COLUMN id SET DEFAULT nextval('public.planning_maintenance_id_seq'::regclass);


--
-- Name: prediction_feedback id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.prediction_feedback ALTER COLUMN id SET DEFAULT nextval('public.prediction_feedback_id_seq'::regclass);


--
-- Name: solutions id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.solutions ALTER COLUMN id SET DEFAULT nextval('public.solutions_id_seq'::regclass);


--
-- Name: technicien_pii tech_id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.technicien_pii ALTER COLUMN tech_id SET DEFAULT nextval('public.technicien_pii_tech_id_seq'::regclass);


--
-- Name: techniciens id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.techniciens ALTER COLUMN id SET DEFAULT nextval('public.techniciens_id_seq'::regclass);


--
-- Name: telemetry id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.telemetry ALTER COLUMN id SET DEFAULT nextval('public.telemetry_id_seq'::regclass);


--
-- Name: types_equipement_custom id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_equipement_custom ALTER COLUMN id SET DEFAULT nextval('public.types_equipement_custom_id_seq'::regclass);


--
-- Name: types_intervention_custom id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_intervention_custom ALTER COLUMN id SET DEFAULT nextval('public.types_intervention_custom_id_seq'::regclass);


--
-- Name: user_pii user_id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.user_pii ALTER COLUMN user_id SET DEFAULT nextval('public.user_pii_user_id_seq'::regclass);


--
-- Name: utilisateurs id; Type: DEFAULT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.utilisateurs ALTER COLUMN id SET DEFAULT nextval('public.utilisateurs_id_seq'::regclass);


--
-- Data for Name: ai_audit_log; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.ai_audit_log (id, "timestamp", model_version, prompt_hash, confidence_score, outcome) FROM stdin;
1	2026-06-01 19:44:36.911014	gemini-3-flash-preview	0d101ae95a683700	92	Success
2	2026-06-15 13:20:50.984959	gemini-3-flash-preview	40e9f78f8d06a68c	92	Success
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.clients (id, nom, matricule_fiscale, ville, contact, telephone, adresse, date_creation, code_client, region, type_client, international) FROM stdin;
201	clinique du lac	1111111	Tunis	Dr Ali	52416398	rue du lac	2026-06-15 13:28:20.53068	CL001	Nord	Priv├®	f
202	clinique avicenne	222222	Mahdia	Dr Ahmed	56514287	rue du m├®decin	2026-06-15 13:29:17.09069	CL002	Centre	Priv├®	f
203	Clinique du parc	33333	Sfax	Dr Samir	74512689	rue du parc	2026-06-15 14:06:13.208752	CL003	Sud	Priv├®	f
\.


--
-- Data for Name: codes_erreurs; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.codes_erreurs (id, code, message, niveau, type, created_at) FROM stdin;
\.


--
-- Data for Name: config_client; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: conformite; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.conformite (id, equipement, client, type_controle, description, date_controle, date_expiration, fichier_nom, fichier_data, statut, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: contrats; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: contrats_equipements; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.contrats_equipements (id, contrat_id, equipement_nom) FROM stdin;
5	103	IRM 3T
6	103	Scanner 16B
7	104	Table t├®l├®command├®e
8	105	Echographe 4S
9	106	Mammographe 
10	107	Scanner 32B
11	108	Cone beam
12	109	Scanner 128B
\.


--
-- Data for Name: demandes_intervention; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: documents_techniques; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.documents_techniques (id, equipement_id, nom_fichier, contenu_base64, date_ajout) FROM stdin;
\.


--
-- Data for Name: domaines_custom; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.domaines_custom (id, nom, date_creation) FROM stdin;
1	Cardiologie	2026-05-26 11:11:04.21175
\.


--
-- Data for Name: equipements; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: fabricants; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.fabricants (id, nom) FROM stdin;
21	Siemens
22	Philips
23	GE Healthcare
24	Canon
25	Hitachi
26	Mindray
27	Medtronic
28	Stryker
29	Zimmer Biomet
30	Olympus
31	Pentax
32	Fujifilm
33	Toshiba
34	Aloka
35	Esaote
36	Sonosite
37	BioRad
38	Roche
39	Abbott
40	Sysmex
\.


--
-- Data for Name: interventions; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: interventions_techniciens; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.interventions_techniciens (id, intervention_id, technicien_id, technicien_nom, statut, probleme_tech, cause_tech, solution_tech, heure_debut_tech, heure_fin_tech, duree_minutes_tech, duree_deplacement_tech, notes_tech, created_at, updated_at) FROM stdin;
5	821	\N	Ghazi Sellami	Assign├®				\N	\N	0	0		2026-06-15 14:56:50.447028	2026-06-15 14:56:50.447028
6	822	\N	Ghazi Sellami	Assign├®				\N	\N	0	0		2026-06-15 15:00:52.956287	2026-06-15 15:00:52.956287
\.


--
-- Data for Name: logs_uploaded; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.logs_uploaded (id, equipement, filename, s3_key, content_hash, size_bytes, nb_errors, nb_critiques, uploaded_by, uploaded_at, parsed_errors) FROM stdin;
\.


--
-- Data for Name: notification_schedules; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.notification_schedules (id, bot_key, enabled, hour, minute, days_of_week, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notifications_pieces; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: pieces_demandees; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.pieces_demandees (id, reference, designation, intervention_id, equipement, client, technicien, probleme, statut, date_creation, date_resolution) FROM stdin;
\.


--
-- Data for Name: pieces_rechange; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.pieces_rechange (id, reference, designation, equipement_type, stock_actuel, stock_minimum, fournisseur, prix_unitaire, derniere_commande, notes, domaine, est_annexe) FROM stdin;
\.


--
-- Data for Name: planning_maintenance; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Data for Name: prediction_feedback; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.prediction_feedback (id, "timestamp", machine, date_predite, resultat, date_reelle, note_technicien, username) FROM stdin;
\.


--
-- Data for Name: solutions; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.solutions (id, mot_cle, type, priorite, cause, solution, validated_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: technicien_pii; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.technicien_pii (tech_id, nom_complet, email, telephone, telegram_id) FROM stdin;
\.


--
-- Data for Name: techniciens; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.techniciens (id, username, nom, prenom, specialite, qualification, telephone, email, dispo, notes, telegram_id, niveau_competence) FROM stdin;
31	\N	Makni	Hamdi	[{"domaine":"Radiologie","modalites":["Scanner CT"]}]				1			Interm├®diaire
32	\N	Sellami	Ghazi	[{"domaine":"Radiologie","modalites":["Scanner CT","IRM","Radiographie","Mammographie","Fluoroscopie"]}]				1			Expert
33	\N	Belhaj	Mahdi	[{"domaine":"Radiologie","modalites":["Scanner CT","IRM","Radiographie"]}]				1			Senior
\.


--
-- Data for Name: telemetry; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.telemetry (id, "timestamp", machine, sensor_type, value) FROM stdin;
\.


--
-- Data for Name: types_equipement_custom; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.types_equipement_custom (id, nom, domaine) FROM stdin;
1	Echocardiographe	Cardiologie
2	Cone beam	Radiologie
\.


--
-- Data for Name: types_intervention_custom; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.types_intervention_custom (id, nom) FROM stdin;
\.


--
-- Data for Name: user_pii; Type: TABLE DATA; Schema: public; Owner: savia_user
--

COPY public.user_pii (user_id, nom_complet, email, telephone) FROM stdin;
40	Administrator		
41	Belhaj Mahdi		
42	Makni Hamdi		
43	Sellami Ghazi		
\.


--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: savia_user
--



--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.ai_audit_log_id_seq', 2, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 16, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.clients_id_seq', 203, true);


--
-- Name: codes_erreurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.codes_erreurs_id_seq', 1, false);


--
-- Name: conformite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.conformite_id_seq', 1, false);


--
-- Name: contrats_equipements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.contrats_equipements_id_seq', 12, true);


--
-- Name: contrats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.contrats_id_seq', 109, true);


--
-- Name: demandes_intervention_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.demandes_intervention_id_seq', 10, true);


--
-- Name: documents_techniques_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.documents_techniques_id_seq', 1, false);


--
-- Name: domaines_custom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.domaines_custom_id_seq', 1, true);


--
-- Name: equipements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.equipements_id_seq', 509, true);


--
-- Name: fabricants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.fabricants_id_seq', 40, true);


--
-- Name: interventions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.interventions_id_seq', 822, true);


--
-- Name: interventions_techniciens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.interventions_techniciens_id_seq', 6, true);


--
-- Name: logs_uploaded_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.logs_uploaded_id_seq', 1, true);


--
-- Name: notification_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.notification_schedules_id_seq', 4, true);


--
-- Name: notifications_pieces_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.notifications_pieces_id_seq', 2, true);


--
-- Name: pieces_demandees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.pieces_demandees_id_seq', 1, false);


--
-- Name: pieces_rechange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.pieces_rechange_id_seq', 341, true);


--
-- Name: planning_maintenance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.planning_maintenance_id_seq', 356, true);


--
-- Name: prediction_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.prediction_feedback_id_seq', 1, false);


--
-- Name: solutions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.solutions_id_seq', 1, false);


--
-- Name: technicien_pii_tech_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.technicien_pii_tech_id_seq', 1, false);


--
-- Name: techniciens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.techniciens_id_seq', 33, true);


--
-- Name: telemetry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.telemetry_id_seq', 1, false);


--
-- Name: types_equipement_custom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.types_equipement_custom_id_seq', 2, true);


--
-- Name: types_intervention_custom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.types_intervention_custom_id_seq', 1, false);


--
-- Name: user_pii_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.user_pii_user_id_seq', 1, false);


--
-- Name: utilisateurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: savia_user
--

SELECT pg_catalog.setval('public.utilisateurs_id_seq', 43, true);


--
-- Name: ai_audit_log ai_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.ai_audit_log
    ADD CONSTRAINT ai_audit_log_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: clients clients_nom_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_nom_key UNIQUE (nom);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: codes_erreurs codes_erreurs_code_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.codes_erreurs
    ADD CONSTRAINT codes_erreurs_code_key UNIQUE (code);


--
-- Name: codes_erreurs codes_erreurs_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.codes_erreurs
    ADD CONSTRAINT codes_erreurs_pkey PRIMARY KEY (id);


--
-- Name: config_client config_client_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.config_client
    ADD CONSTRAINT config_client_pkey PRIMARY KEY (cle);


--
-- Name: conformite conformite_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.conformite
    ADD CONSTRAINT conformite_pkey PRIMARY KEY (id);


--
-- Name: contrats_equipements contrats_equipements_contrat_id_equipement_nom_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats_equipements
    ADD CONSTRAINT contrats_equipements_contrat_id_equipement_nom_key UNIQUE (contrat_id, equipement_nom);


--
-- Name: contrats_equipements contrats_equipements_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats_equipements
    ADD CONSTRAINT contrats_equipements_pkey PRIMARY KEY (id);


--
-- Name: contrats contrats_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats
    ADD CONSTRAINT contrats_pkey PRIMARY KEY (id);


--
-- Name: demandes_intervention demandes_intervention_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.demandes_intervention
    ADD CONSTRAINT demandes_intervention_pkey PRIMARY KEY (id);


--
-- Name: documents_techniques documents_techniques_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.documents_techniques
    ADD CONSTRAINT documents_techniques_pkey PRIMARY KEY (id);


--
-- Name: domaines_custom domaines_custom_nom_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.domaines_custom
    ADD CONSTRAINT domaines_custom_nom_key UNIQUE (nom);


--
-- Name: domaines_custom domaines_custom_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.domaines_custom
    ADD CONSTRAINT domaines_custom_pkey PRIMARY KEY (id);


--
-- Name: equipements equipements_nom_client_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.equipements
    ADD CONSTRAINT equipements_nom_client_key UNIQUE (nom, client);


--
-- Name: equipements equipements_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.equipements
    ADD CONSTRAINT equipements_pkey PRIMARY KEY (id);


--
-- Name: fabricants fabricants_nom_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.fabricants
    ADD CONSTRAINT fabricants_nom_key UNIQUE (nom);


--
-- Name: fabricants fabricants_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.fabricants
    ADD CONSTRAINT fabricants_pkey PRIMARY KEY (id);


--
-- Name: interventions interventions_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.interventions
    ADD CONSTRAINT interventions_pkey PRIMARY KEY (id);


--
-- Name: interventions_techniciens interventions_techniciens_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.interventions_techniciens
    ADD CONSTRAINT interventions_techniciens_pkey PRIMARY KEY (id);


--
-- Name: logs_uploaded logs_uploaded_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.logs_uploaded
    ADD CONSTRAINT logs_uploaded_pkey PRIMARY KEY (id);


--
-- Name: notification_schedules notification_schedules_bot_key_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.notification_schedules
    ADD CONSTRAINT notification_schedules_bot_key_key UNIQUE (bot_key);


--
-- Name: notification_schedules notification_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.notification_schedules
    ADD CONSTRAINT notification_schedules_pkey PRIMARY KEY (id);


--
-- Name: notifications_pieces notifications_pieces_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.notifications_pieces
    ADD CONSTRAINT notifications_pieces_pkey PRIMARY KEY (id);


--
-- Name: pieces_demandees pieces_demandees_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.pieces_demandees
    ADD CONSTRAINT pieces_demandees_pkey PRIMARY KEY (id);


--
-- Name: pieces_rechange pieces_rechange_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.pieces_rechange
    ADD CONSTRAINT pieces_rechange_pkey PRIMARY KEY (id);


--
-- Name: pieces_rechange pieces_rechange_reference_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.pieces_rechange
    ADD CONSTRAINT pieces_rechange_reference_key UNIQUE (reference);


--
-- Name: planning_maintenance planning_maintenance_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.planning_maintenance
    ADD CONSTRAINT planning_maintenance_pkey PRIMARY KEY (id);


--
-- Name: prediction_feedback prediction_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.prediction_feedback
    ADD CONSTRAINT prediction_feedback_pkey PRIMARY KEY (id);


--
-- Name: solutions solutions_mot_cle_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_mot_cle_key UNIQUE (mot_cle);


--
-- Name: solutions solutions_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_pkey PRIMARY KEY (id);


--
-- Name: technicien_pii technicien_pii_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.technicien_pii
    ADD CONSTRAINT technicien_pii_pkey PRIMARY KEY (tech_id);


--
-- Name: techniciens techniciens_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.techniciens
    ADD CONSTRAINT techniciens_pkey PRIMARY KEY (id);


--
-- Name: techniciens techniciens_username_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.techniciens
    ADD CONSTRAINT techniciens_username_key UNIQUE (username);


--
-- Name: telemetry telemetry_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.telemetry
    ADD CONSTRAINT telemetry_pkey PRIMARY KEY (id);


--
-- Name: types_equipement_custom types_equipement_custom_nom_domaine_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_equipement_custom
    ADD CONSTRAINT types_equipement_custom_nom_domaine_key UNIQUE (nom, domaine);


--
-- Name: types_equipement_custom types_equipement_custom_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_equipement_custom
    ADD CONSTRAINT types_equipement_custom_pkey PRIMARY KEY (id);


--
-- Name: types_intervention_custom types_intervention_custom_nom_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_intervention_custom
    ADD CONSTRAINT types_intervention_custom_nom_key UNIQUE (nom);


--
-- Name: types_intervention_custom types_intervention_custom_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.types_intervention_custom
    ADD CONSTRAINT types_intervention_custom_pkey PRIMARY KEY (id);


--
-- Name: user_pii user_pii_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.user_pii
    ADD CONSTRAINT user_pii_pkey PRIMARY KEY (user_id);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id);


--
-- Name: utilisateurs utilisateurs_username_key; Type: CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_username_key UNIQUE (username);


--
-- Name: idx_equipements_client; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_equipements_client ON public.equipements USING btree (client);


--
-- Name: idx_equipements_nom; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_equipements_nom ON public.equipements USING btree (nom);


--
-- Name: idx_equipements_statut; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_equipements_statut ON public.equipements USING btree (statut);


--
-- Name: idx_equipements_type; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_equipements_type ON public.equipements USING btree (type);


--
-- Name: idx_int_tech_intervention_id; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_int_tech_intervention_id ON public.interventions_techniciens USING btree (intervention_id);


--
-- Name: idx_interventions_date; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_interventions_date ON public.interventions USING btree (date DESC);


--
-- Name: idx_interventions_machine; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_interventions_machine ON public.interventions USING btree (machine);


--
-- Name: idx_logs_uploaded_content_hash; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_logs_uploaded_content_hash ON public.logs_uploaded USING btree (content_hash);


--
-- Name: idx_logs_uploaded_equipement; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_logs_uploaded_equipement ON public.logs_uploaded USING btree (equipement);


--
-- Name: idx_logs_uploaded_uploaded_at; Type: INDEX; Schema: public; Owner: savia_user
--

CREATE INDEX idx_logs_uploaded_uploaded_at ON public.logs_uploaded USING btree (uploaded_at DESC);


--
-- Name: contrats_equipements contrats_equipements_contrat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.contrats_equipements
    ADD CONSTRAINT contrats_equipements_contrat_id_fkey FOREIGN KEY (contrat_id) REFERENCES public.contrats(id) ON DELETE CASCADE;


--
-- Name: documents_techniques documents_techniques_equipement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.documents_techniques
    ADD CONSTRAINT documents_techniques_equipement_id_fkey FOREIGN KEY (equipement_id) REFERENCES public.equipements(id);


--
-- Name: interventions_techniciens interventions_techniciens_intervention_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.interventions_techniciens
    ADD CONSTRAINT interventions_techniciens_intervention_id_fkey FOREIGN KEY (intervention_id) REFERENCES public.interventions(id) ON DELETE CASCADE;


--
-- Name: technicien_pii technicien_pii_tech_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.technicien_pii
    ADD CONSTRAINT technicien_pii_tech_id_fkey FOREIGN KEY (tech_id) REFERENCES public.techniciens(id) ON DELETE CASCADE;


--
-- Name: user_pii user_pii_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: savia_user
--

ALTER TABLE ONLY public.user_pii
    ADD CONSTRAINT user_pii_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.utilisateurs(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: savia_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict PRlATHId2NjblAQNOgeVItRXy4P4d5dVqP4a9vsBVPT2EAwoOWV49sjazhA3Jou

